.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border:1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  cursor: pointer;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  border: 0.1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #fffafa;
  border-radius: 5px;
  
}
.restImg {
  width: 100%;
}

.restaurant-list{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px;
}

.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* footer CSS */
.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: var(--footer-bg-color);
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

.fa-heart {
  color: darkred;
}

.footer > strong {
  padding-left: 5px;
}

.footer > strong > span {
  color: rgb(203, 54, 0);
}

/* CSS for mobile devices */
@media only screen and (max-width: 470px) {
  .header {
    height: 60px;
  }
  .header .logo {
    width: 80px;
  }
  .nav-items > ul > li {
    font-size: small;
  }
  .nav-items > ul > li .logout-btn,
  .nav-items > ul > li .login-btn {
    font-size: xx-small;
  }
  .search-container {
    margin: 80px auto 0px;
  }
}
@media only screen and (max-width: 350px) {
  .header {
    height: 50px;
  }
  .header .logo {
    width: 70px;
  }
  .nav-items > ul > li {
    font-size: x-small;
  }
  .nav-items > ul > li .logout-btn,
  .nav-items > ul > li .login-btn {
    padding: 5px;
  }
  .search-container {
    margin: 70px auto 0px;
  }
}