.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-items > ul > li {
  padding: 10px;
  cursor: pointer;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  border: 0.1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #fffafa;
  border-radius: 5px;
}
.restImg {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px;
}

.restaurant-menu {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}